.main-headlines{
    display: flex;
}

.main-headlines .images {
}

.main-headlines .images .img-1 .main-img{
    width: 100%;
    height: 80%;
}

.main-headlines .images .img-2 .second-img,
.main-headlines .images .img-3 .third-img{
    width: 100%;
    height: auto;
}

.main-headlines .top-headlines {
    list-style: initial;
    width: 45%;
}

.main-headlines .top-headlines .text {
    width: 70%;
    margin-bottom: 60px;
    list-style: none;
}

.main-headlines .top-headlines .headline {
    font-weight: bold;
    margin: 0px 0px 25px 20px;
    width: 70%;
}