.main-headlines{
    height: 90vh;
    background-color: #286188;
}

.main-headlines .items {
    display: grid;
    grid-template-areas: 
    'main second'
    'main third';
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}

.main-headlines .items .item-1 {
    grid-area: main;
}

.main-headlines .items .item-2{
    align-self: flex-start;
    grid-area: second;
}

.main-headlines .items .item-3 {
    align-self: flex-end;
    grid-area: third;
}

.main-headlines .items .main-img{
    width: 656px;
    height: 754px;
}

.main-headlines .items .second-img,.third-img{
    width: 328px;
    height: 364px;
}