.navbar {
    background-color: #292929;
    font-weight: 500;
    width: 100%;
}

.navbar .items{
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .items li {
    margin: 10px;
}