@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "navbar.css";
@import "logo.css";
@import "main-headlines.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #286188;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}